{% extends 'driveapp/base.html' %}
{% block title %}Catégories{% endblock %}
{% block content %}
<h2>Liste des catégories</h2>
<a href="{% url 'ajouter_categorie' %}" class="btn btn-success mb-2">Ajouter</a>
<ul class="list-group">
    {% for cat in categories %}
        <li class="list-group-item d-flex justify-content-between">
            {{ cat.nom }}
            <a href="{% url 'detail_categorie' cat.pk %}" class="btn btn-sm btn-info">Voir</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
